*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:  'Dancing Script';
    src: url(./fontes/DancingScript-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Lobster';
    src: url(./fontes/Lobster-Regular.ttf);
}
@font-face{
    font-family: 'Arima Medium';
    src: url(./fontes/Arima-Medium.ttf);
}

body{
    flex-direction: column;
    display: flex;
}

header{
    display: flex;
    flex-direction: column;
}
.cabecalho {
    background-color: rgb(202, 167, 199);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(160, 124, 146);
    flex-basis: 100%;
    padding: 10px 0px;

}

#nome{
    font-size: 30px;
    color:rgb(121, 55, 25);
    font-family: 'Dancing Script';
    font-weight: bold;
}

#logo{
    width: 100px;
    height: 100px;
}

nav{
    background-color: beige;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    font-family: 'Lobster';
    font-size: 18px;
    border-bottom: 2px solid rgb(160, 124, 146);
    color:rgb(121, 55, 25);
    flex-basis: 100%;
}

a{
    text-decoration: none;
    color: rgb(121, 55, 25);
}

main{
    padding: 10px;
    display: flex;
    background-color: rgba(255, 251, 255, 0.541);
    flex-wrap: wrap;
    height: auto;
}

main .galeria{
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 251, 255, 0.541);
    height: auto;
}

.description-historia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
}

.main_description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 2;
    flex-basis: 25%;
}

#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Lobster';
    padding: 30px 10px 10px 10px;
    color:rgb(121, 55, 25);
    padding-bottom: 10px;
}


#descricao{
    text-align: justify;
    font-family: 'Arima Medium';
    font-weight: 500;
    padding: 20px 150px;
    color:rgb(121, 55, 25);
}

.main_img{
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
}

.main-fotos{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 25%;
}

#fotogaleria{
    height: 300px;
    width: 400px;
    padding: 10px 40px;
}

#titulo-galery{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Lobster';
    padding: 30px 10px 10px 10px;
    color:rgb(121, 55, 25);
    padding-bottom: 20px;
}

#conf_foto{
    height: 650px;
    width: 500px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(121, 55, 25);
}

.form{
    padding: 30px 0px;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
}
fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 510px;
    height: 480px;
    padding: 0px 30px;
}
legend{
    font-size: 25px;
    font-weight: 700;
}
label{
    font-size: 17px;
}
#telefone, #fnome, #email {
    width: 500px;
    height: 25px;
}
#mensagem{
    width: 502px;
    height: 100px;
}
button{
    display: flex;
    justify-content: center;
    height: 23px;
    width: 508px;
    font-weight: 600;
}
.mapa{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
    width: 500px;
}


.footer{
    background-color: rgb(202, 167, 199);
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    justify-content: center;
    border-top: 2px solid rgb(160, 124, 146);
}

.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    font-weight: 500;
    flex-basis: 100%;
}

#icone_rede{
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 800px) {


    .cabecalho{
        flex-direction: column;
    }

    #description-historia{
        padding: 5px 20px;
    }

    #descricao{
        padding: 20px 10px;
    }

    #conf_foto{
        height: 400px;
        width: 300px;
    }

    main{
        height: auto;
        padding: 10px;
    }

    #fotogaleria{
        padding: 10px 20px;
        width: 300px;
        height: 200px;
    }

    fieldset{
        width: 230px;
    }
    #telefone, #fnome, #email {
        width: 220px;
    }
    button{
        width: 227px;
    }
    #mensagem{
        width: 222px;
    }

    .mapa{
        width: 300px;
    }
}