*{
    margin: 0;
}

@font-face {
    font-family:  'Dancing Script';
    src: url(./fontes/DancingScript-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Lobster';
    src: url(./fontes/Lobster-Regular.ttf);
}
@font-face{
    font-family: 'Arima Medium';
    src: url(./fontes/Arima-Medium.ttf);
}

.cabecalho {
    background-color: rgb(202, 167, 199);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-bottom: 2px solid rgb(160, 124, 146);
}
#nome{
    font-size: 30px;
    color:rgb(121, 55, 25);
    font-family: 'Dancing Script';
    font-weight: bold;
}

#logo{
    width: 100px;
    height: 100px;
}
nav{
    background-color: beige;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    font-family: 'Lobster';
    font-size: 18px;
    border-bottom: 2px solid rgb(160, 124, 146);
    color:rgb(121, 55, 25);
}
main{
    padding: 40px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 251, 255, 0.541);
}
.main_description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: 'Lobster';
    padding: 30px 200px;
    color:rgb(121, 55, 25);
}
#descricao{
    text-align: justify;
    padding: 0px 200px;
    font-family: 'Arima Medium';
    font-weight: 500;
    color:rgb(121, 55, 25);

}
.main_img{
    padding: 10px 130px
}
#conf_foto{
    width: 680px;
    height: 800px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(121, 55, 25);
}
footer{
    background-color: rgb(202, 167, 199);
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    border-top: 2px solid rgb(160, 124, 146);
}
.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    font-weight: 500;
}

#icone_rede{
    width: 50px;
    height: 50px;
}